<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>


    <p>@ViewBag.mess1</p>
    <p>@ViewBag.mess2</p>

    <p>@ViewBag.mess3</p>
    <p>@ViewBag.mess4</p>

    <p>@ViewBag.mess5</p>
    <p>@ViewBag.mess6</p>


</body>
</html>

    